/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2021, 10:15:46 AM
    Author     : Paul Andre Feliciano
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.wrapper{
    width: 100%;
}

.mainHeader{
    width: 100%;
    height: 3.5vw;
    background-color: #FF3801;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logoHeader{
    margin-left: -3%;
    background-color: #3F4247;
    height: 100%;
    width: 70%;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
    overflow: hidden;
}

.logo{
    margin-top: 2%;
    margin-left: 21%;
    margin-right: 5%;
    width: 8%;
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
}

.logoText{
    width:  48%;
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
}

.menuList{
    margin-left: 38%;
    width: 100%;
}

.mainHeader .menuList ul li{
    display: inline-block;
    width: 9vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 0.9vw;
    letter-spacing: 2px;
    color: white;
}

.mainHeader .menuList ul li a{
    text-decoration: none;
    color: white;
}

.mainHeader .menuList ul li a:hover{
    text-decoration: none;
    color: #ffff99;
}

.mainHeader .menuList ul li a.active {
    color: #ffff99;
}

.signInButton {
    width: 12%;
    display: inline-block;
    vertical-align: middle;
}

.home{
    height: 94vh;
    overflow:hidden;
    position: relative;
}

.home .slide{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    z-index:1; 
    display:none;
    animation: slide 3s ease;
    margin-left: auto;
}

.home .slide.active{
    display: flex;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.home .container{
    flex-grow: 1;
}

.home .controls .prev,
.home .controls .next{
    position: absolute;
    z-index:2;
    top:45%;
    height:40px;
    width: 40px;
    background-color:  #000000;
    margin-top: -20px;
    color:#ffffff;
    text-align: center;
    line-height: 40px;
    font-size:20px;
    cursor:pointer;
    transition: all .5s ease;
    border-radius: 50%;
    margin: 1vw;
}

.home .controls .prev:hover,
.home .controls .next:hover{
    background-color: #FF3801;
}
.home .controls .prev{
    left:0;
}
.home .controls .next{
    right:0;
}

.home .indicator{
    position: absolute;
    left:50%;
    bottom:30px;
    z-index: 2;
    transform: translateX(-50%);
}

.home .indicator div{
    display: inline-block;
    width:1vw;
    height: 1vw;
    color:#ffffff;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.home .indicator div.active{
    background-color: white;
}

.featuredCont {
    height: 38vw;
    width: 60%;
    float: left;
}

.featured {
    height:34vw;
    width: 100%;
    padding: 1vw;
    overflow: hidden;
}

.featuredLabel{
    background-color: #ED3300;
    width: 35%;
    height: 5%;
    text-align: center;
    padding-top: 0.6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.1vw;
    color: white;
    letter-spacing: 1px;
    border-radius: 7px;
}

.ytVid {
    margin-top: 1vw;
    width: 95%;
    height: 80%;
}

.featuredText{
    width: 35%;
    float: right;
    margin-right: 3%;
}

.featuredTitle{
    margin-top: 1.5vw;
    margin-right: 1.2vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #ED3300;
}

.featuredContent{
    margin-top: 1vw;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #AEB0B2;
    word-wrap: break-word;
}

.feed{
    height: 36vw;
    width: 100%;
    background-color: rgba(63, 66, 71, 0.42);
    padding: 1vw;
    overflow:hidden;
}

.facebookLabel{
    background-color: #ED3300;
    width: 60%;
    height: 50%;
    margin-top: 1vw;
    margin-bottom: 1.2vw;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.2vw;
    color: white;
    letter-spacing: 1px;
    border-radius: 7px;
}

.fb-page{
    margin-left: 7%;
}

.facebookCont{
    width: 35%;
    float: left;
}

.rinaWave{
    width: 65%;
    float: right;
    align-content: center;
}

.rinaW{
    width: 100%;
}

.subscribe{
    width: 100%;
    height: 26.5vw;
    background-color: #ED3300;
    overflow: hidden;
}

.emailInput{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2.5vw;
}

.emailInput label {
    font-size: 1.7vw;
    margin: 1vw;
    margin-left: 3vw;
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
}

.emailText{
    height: 3.2vw;
    width: 49vw;
    margin-left: 3vw;
    margin-right: -6vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-family: 'Lato', sans-serif;
    font-size: 1.1vw;
    border-radius: 10px;
    border-style: none;
}

.emailBT{
    font-size: 1.1vw;
    margin-left: -2%;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 10px;
    background-color: #F24247;
    color: white;
    border-style: none;
    cursor: pointer;
}

.emailBT:hover{
    background-color: #f55d61;
}

.contactUs{
    float: left;
    width: 50%;
    margin-left: 20%;
    margin-right: -25%;
    height: 50%;
}

.contactUs h2 {
    font-size: 2.5vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: -1vw;
}

.contactUs p {
    font-size: 0.9vw;
    color: white;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-bottom: 1.2vw;
}

.supportOn{
    float: right;
    width: 50%;
    height: 50%;
    margin-left: 5%;
}

.supportOn h2 {
    font-size: 2.5vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: -1vw;
}

.supportOn p {
    font-size: 0.9vw;
    color: white;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-bottom: 1.2vw;
}

.getInvolved {
    background-color: white;
    font-family: 'Montserrat';
    font-weight: normal;
    padding: 0.3vw 0.7vw 0.3vw 0.7vw;
    border-radius: 5px;
    border-style: none;
    margin-right: 1%;
    font-size: 1.1vw;
}

.getInvolved:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.sendUs {
    background-color: transparent;
    font-family: 'Montserrat';
    font-weight: normal;
    padding: 0.3vw 1vw 0.3vw 1vw;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-right: 1%;
    color: white;
    font-size: 1.1vw;
}

.sendUs:hover {
    background-color:  rgba(255, 255, 255, .15);
    cursor: pointer;
}

.socMed {
    margin: 0 0.8vw 0 0.2vw;
    width: 4.5%;
}

.socMed:hover {
    transform: scale(1.05);
}

.section {
    width: 100%;
    height: 10vw;
    background-color: white;
}

.logoTextB {
    width: 15%;
    margin: 1.3vw 20vw 1.3vw 5vw;
}

.copyright {
    width: 21%;
    margin: 0 2vw 1.7vw 1.6vw ;
}

.langOptions{
    float: right;
    margin: 2vw 4vw 0 0;
    width: 20%;
}

.langIcon {
    margin-left: 45%;
    width: 5%;
    display: inline-block;
    vertical-align: middle;
}

.langChoice{
    font-size: 1vw;
    font-family: Montserrat;
}

.signMain{
    width: 100%;
    height: 47vw;
    background-color:  #3F4247;
    background-image: linear-gradient(180deg, white 70%, #3F4247 30%);
    overflow: hidden;
}

.rinaSignSide{
    width: 60%;
    float: left;
}

.rinaSignImg{
    width: 57%;
    margin-left: 13%;
    margin-top: 1.5vw;
}

.explore{
    margin-top: 3vw;
    margin-right: 1.2vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #ED3300;
}

.signSide{
    width: 40%;
    height: 100%;
    float: right;
}

.loginBox{
    margin-left: 1vw;
    margin-top: 7vw;
    padding: 3vw;
    background-color: white;
    border-radius: 50px;
    width: 60%;
    box-shadow: 0 2px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.signUpBox{
    margin-left: 1vw;
    margin-top: 1.5vw;
    padding: 2.5vw;
    background-color: white;
    border-radius: 50px;
    width: 60%;
    box-shadow: 0 2px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.signInLabel{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.unpwLabel{
    font-family: Montserrat;
    font-size: 0.9vw;
}

.userpass{
    margin: 2% 0 0 1%;
    border-style: none;
    width: 93%;
    font-size: 0.8vw;
    box-shadow: 0px 4px 11px rgba(81, 81, 81, 0.25);
    font-family: Montserrat;
    padding: 0.5vw;
}

.captchaImg{
    border-radius: 20px;
    box-shadow: 0px 4px 11px rgba(81, 81, 81, 0.25);
    margin: 0 25% 5% 25%;
    width: 50%;
}

.signInBT{
    font-size: 1.1vw;
    margin: 0 30% 0 36%;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 20px;
    background-color: #F24247;
    color: white;
    border-style: none;
    cursor: pointer;
}

.signInBT:hover{
    background-color: #f55d61;
}

.signupText{
    text-align: center;
    font-family: Montserrat;
    font-size: 0.9vw;
}

.signupText a {
    text-decoration: none;
    font-weight: 800;
    color: black;
}

.signupText a:hover {
    text-decoration: underline;
}

.flName {
    margin: 2% 1% 2% 1%;
    border-style: none;
    font-size: 0.8vw;
    box-shadow: 0px 4px 11px rgba(81, 81, 81, 0.25);
    font-family: Montserrat;
    padding: 0.5vw;
    width: 86%;
}

.fName{
    float: left;
    width: 50%;
    margin: auto;
}

.lName{
    width: 50%;
    margin: auto;
}

.products{
    overflow: hidden;
}

.card {
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    height: 20vw;
    margin: 1.5vw;
    width: 22%;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50), 0px 4px 4px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    data-aos:"flip-left";
}

.card-1 img{
    margin-top: 2.5vw;
    width: 60%;
    height: 60%;
}

.products p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    text-align: center;
    color: #3F4247;
}

.products h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    color: #FF3801;
}

.products h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 2vw;
    color: #3F4247;
}

.storeLabel{
    margin-top: 1.5vw;
    background-color: #ED3300;
    width: 35%;
    height: 10%;
    text-align: center;
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    color: white;
    border-radius: 7px;
}

.errorMsgDiv{
    width: 100%;
    height: 47vw;
    background-color: #3F4247;
    overflow: hidden;
}

.rinaSorrySide{
    float: left;
    width: 30%;
    padding-left: 20%;
    padding-top: 5%;
}

.errorContainer{
    float: right;
    width: 50%; 
}

.errorBox{
    margin-top: 25%;
    padding: 2.5vw;
    background-color: white;
    border-radius: 50px;
    width: 45%;
    box-shadow: 0 2px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
}

.errorBox404{
    margin-top: 30%;
    padding: 2.5vw;
    background-color: white;
    border-radius: 50px;
    width: 45%;
    box-shadow: 0 2px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
}

.errorBox h1 {
    color: #FF3801;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.errorBox p {
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.errorBox404 h1 {
    color: #FF3801;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.errorBox404 p {
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.rinaSorryImg{
    width: 90%;
}

.backBT{
    font-size: 1.1vw;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 20px;
    background-color: #F24247;
    color: white;
    border-style: none;
    cursor: pointer;
}

.backBT:hover{
    background-color: #f55d61;
}

.successSec{
    width: 100%;
    height: 47vw;
    background-color:  #3F4247;
    background-image: linear-gradient(180deg, white 70%, #3F4247 30%);
    overflow: hidden;
}

.rinaHelloSide{
    float: right;
    width: 30%;
    padding-right: 25%;
    padding-top: 5%;
}

.buttonContainer{
    float: left;
    width: 50%;
    margin-left: 15%;
    margin-right: -30%;
}

.downloadBox{
    margin-top: 20%;
    padding: 2.5vw;
    width: 50%;
    text-align: center;
}

.downloadBox h1 {
    color: #FF3801;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.downloadBox p {
    color: black;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.dlSubAdminBT{
    background-color: white;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 2px 3px rgba(1,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    font-size:  1vw;
    font-family: Montserrat;
    border-style: none;
    padding: 1vw;
}

.rinaWaveBImg{
    width: 145%;
    margin-top: -4vw;
}

/*responsive*/
@media(max-width: 767px){
    .controls{
        display: none;
    }
}
